.clear-button {
	height: 64px;
  width: 64px;
  display: flex;
  margin: 12px;
  /*flex: 1 1;*/
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  background-color: #2A2F38;
  color: #EB6666;
  border-radius: 64px;
  /*border: 2px solid white;*/
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.clear-button:hover {
  background-color: #EB6666;
  color: #2A2F38;
}